/*
* Create mixin that decorate 
* the btn of the website
*/
@mixin btn-animated-flow {
    
    .btn-animated-wrap {
        width: auto;
        position: relative;
        background: linear-gradient(240deg, #008000 0%, #fff 49%, #008000 80%, #008000 100%);
        padding: 3px;
        border-radius: 5px;
    
        animation: flow 20s linear infinite;

        &:hover {
            //background: linear-gradient(240deg, $blue_link 0%, #87bfff 49%, $blue_link 80%, $blue_link 100%);
            background: linear-gradient(240deg, #008000 0%, #ffff00 49%, #008000 80%, #008000 100%);
        }
    }
    
    .btn-animated {
        background: $grey_background;
        color: $blue_font;
        padding: .5rem;
    }
    
    @keyframes flow {
    
        to {
            background-position: 100rem;
        }
    
    }

}

/*
* Create a mixim the
* style the standard btn
* of the forms
*/
@mixin btn-form {
    
    button {
        font-size: 1.2rem;
        padding: .5rem;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid $blue_font;

        &:hover {
            color: $green_font;
            border: 1px solid $green_font;
            box-shadow: 5px 10px 8px #888888;
        }

    }

}


/*
* Create a mixim that
* create the signature
* of the owner
*/
@mixin signature {

    .signature-font {

        font-family: 'Great Vibes', cursive;

    }

}

/*
* Create a mixim that
* create the right font
* for the brand
*/
@mixin brand {

    .brand-font {

        font-family: 'Bangers', cursive;
        letter-spacing: 2px;

    }

}

/*
* Create a mixim that
* highlight a specific
* content
*/
@mixin highlight {

    .highlight-font {

        font-family: 'Goblin One', cursive;

    }

}

/*
* Create a mixim that 
* style input select option
*/
@mixin inp_select {
    
    div {

        select {
            padding: .5rem;
            font-size: 1rem;
            border: 1px solid $green_font;
            border-radius: 5px;

            &:hover {
                box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
            }

        }

    }

}