{% extends "base.html.twig" %}

{# Set up title of the preventivi page #}
{% block title %}
Contatti
{% endblock %}

{# Set up the header sub title #}
{% block header_sub_title %}
<h2>Contatti</h2>
{% endblock %}

{# Body block #}
{% block body %}
<section class="under-construction">
    <section class="under-construction-container">
        <img src="{{ asset('/images/under-construction.gif') }}" alt="Banner Under Construction">
    </section>
</section>
{% endblock %}