{% extends "base.html.twig" %}

{# Set up title of the preventivi page #}
{% block title %}
Contatti Conferma
{% endblock %}

{# Set up the header sub title #}
{% block header_sub_title %}
<h2>Grazie per averci scritto</h2>
{% endblock %}

{% block body %}
<main class="contatti-conferma-main">
    <section class="contatti-conferma-main-container">
        <h4>Grazie per averci scritto</h4>
        <p>
            Abbiamo ricevuto il tuo messaggio, un membro del nostro staff si metterà
            in contatto con te quanto prima
        </p>
    </section>
</main>
{% endblock %}