{% extends "base.html.twig" %}

{# Set up the title of the homepage #}
{% block title %}
Traslochi Brandimarte
{% endblock %}

{#  Body of the page  #}
{% block body %}

<main class="home-main">
    <section class="home-main-container">
        <section class="home-main-container-title">
            <h2>Traslochi a Roma, nazionali ed internazionali</h2>
        </section>
        <section class="home-main-container-content">
            <p>
                L'impresa <span class="brand-font">Brandimarte Traslochi</span> opera nel settore <span class="highlight-font">da oltre 10 anni
                </span> ed offre ai propri clienti vari tipologie di trasporti
            </p>
            <br>
            <ul>
                <li><i class="fas fa-truck-moving"></i> Traslochi nazionali <i class="fas fa-truck-moving"></i></li>
                <br>
                <li><i class="fas fa-plane-departure"></i> Traslochi internazionali <i class="fas fa-plane-arrival"></i></li>
                <br>
                <li><i class="fas fa-dolly"></i> Traslochi professionali <i class="fas fa-dolly"></i></li>
                <br>
                <li><i class="fas fa-box-open"></i> Traslochi di appartamenti <i class="fas fa-box-open"></i></li>
                <br>
                <li><i class="fas fa-people-carry"></i> Trasporto di pianoforti <i class="fas fa-people-carry"></i></li>
                <br>
                <li><i class="fas fa-building"></i> Traslochi di uffici <i class="fas fa-building"></i></li>
            </ul>
            <br>
            <p>
                Disponiamo inoltre di <span class="highlight-font">depositi sorvegliati 24 ore su 24</span><br>
                <br>
                Il <span class="highlight-font">nostro personale è a vostra disposizione</span> per soddisfare 
                <span class="home-main-container-content-underline">qualunque esigenza</span><br>
                <br>
                <span class="highlight-font">Affidati alla nostra professionalità ed esperienza.</span><br>
                <br>
                <section class="header-navbar-menu-quote">
                    <a href="{{ path('app_preventivi') }}">
                        <section class="btn-animated-wrap">
                            <section class="btn-animated">
                                <p><span class="highlight-font">Chiamaci per un preventivo gratuito</span></p>
                            </section>
                        </section>
                    </a>
                </section>
                <br>
                Verremo a casa vostra per un <span class="highlight-font">sopralluogo gratuito e senza impegno</span> in occasione del quale i nostri
                tecnici vi offriranno la loro consulenza<br>
                <br>
                <span class="home-main-container-content-signature signature-font">Andrea Brandimarte</span>
            </p>
        </section>
    </section>

    <section class="home-main-video">
        <section class="home-main-video-title">
            <h2>Chi siamo</h2>
        </section>
        <section id="video-player" class="home-main-video-container">
            <video id="video" poster="https://127.0.0.1:8000/images/roma-piazza-del-popolo.jpg" controls>
                <source src="{{ asset('/videos/traslochi-brandimarte-video.mp4') }}" type="video/mp4">
                Il tuo browser non support HTML video
            </video>
            <button type="button" id="play_button"><i class="far fa-play-circle"></i></button>
        </section>
    </section>
</main>

<main class="preventivi-main">
    <section class="preventivi-main-container">
        <section class="preventivi-main-container-title">
            <h2>Scegli il preventivo più adatto alle tue esigenze</h2>
        </section>
        <section class="preventivi-main-container-online preventivi-main-container-box">
            <h2>Preventivo online gratuito</h2>
            <p>
                Calcola ora il tuo preventivo online gratuitamente e 
                senza impegno<br>
                Uno strumento utile che <span class="brand-font">Traslochi Brandimarte</span> mette a tua disposizione<br>
                Ti aiuterà a capire i costi per il tuo prossimo trasloco
            </p>
            <section class="preventivi-main-container-online-btn">
                <a href="{{ path('app_preventivi') }}">
                    <section class="btn-animated-wrap">
                        <section class="btn-animated">
                            Preventivo online gratuito
                        </section>
                    </section>
                </a>
            </section>
        </section>
        <section class="preventivi-main-container-contact preventivi-main-container-box">
            <h2>Preventivo telefonico gratuito</h2>
            <p>
                Contatta lo staff di <span class="brand-font">Traslochi Brandimarte</span> per un preventivo
                telefonico o su WhatsApp gratuito e senza impegno.
                <br>
                Seleziona una delle tue seguenti opzioni:
            </p>
            <ul>
                <li><a href="tel:+393381106682" alt="Phone icon"><i class="fas fa-phone"></i> <span class="highlight-font"> +39.338.11.06.682</span></a></li>
                <li><a href="https://wa.me/+393381106682" target="_blank" alt="Whatsapp icon"><i class="fab fa-whatsapp"></i> <span class="highlight-font"> +39.338.11.06.682</span></a></li>
            </ul>
        </section>
        <section class="preventivi-main-container-email preventivi-main-container-box">
            <h2>Preventivo via email gratuito</h2>
            <p>
                Contattaci via email per ricevere un preventivo
                via posta elettronica gratuito e senza impegno.
                <br>
                Seleziona la seguente opzione
            </p>
            <ul>
                <li><a href="mailto:info@brandimarte.com" target="_blank" alt="Email icon"><i class="fas fa-envelope"></i> <span class="highlight-font"> info@traslochibrandimarte.com</span></a></li>
            </ul>
        </section>
        <section class="preventivi-main-container-questions preventivi-main-container-box">
            <h2>Domandare è lecito</h2>
            <p>
                Domandare è lecito, rispondere è cortesia ed in questo caso è
                anche il nostro lavoro.
                <br>
                Se qualcosa non ti è chiaro in merito ai nostri servizi o se 
                hai una richiesta particolare, 
                <br>
                sentiti libero di contattarci 
                tramite uno dei nostro canali<br>
            </p>
            <p class="signature-font">Andrea Brandimarte</p>
        </section>
    </section>
</main>


{% endblock %}