{% extends "base.html.twig" %}

{# Set up title of the preventivi page #}
{% block title %}
Preventivi
{% endblock %}

{# Set up the header sub title #}
{% block header_sub_title %}
<h2>Preventivi</h2>
{% endblock %}

{# Body block #}
{% block body %}
<main class="preventivi-main">
    <section class="preventivi-main-container">
        <section class="preventivi-main-container-title">
            <h2>Scegli il preventivo più adatto alle tue esigenze</h2>
        </section>
        <section class="preventivi-main-container-online preventivi-main-container-box">
            <h2>Preventivo online gratuito</h2>
            <p>
                Calcola ora il tuo preventivo online gratuitamente e 
                senza impegno<br>
                Uno strumento utile che <span class="brand-font">Traslochi Brandimarte</span> mette a tua disposizione<br>
                Ti aiuterà a capire i costi per il tuo prossimo trasloco
            </p>
            <section class="preventivi-main-container-online-btn">
                <a href="{{ path('app_preventivo_online') }}">
                    <section class="btn-animated-wrap">
                        <section class="btn-animated">
                            Preventivo online gratuito
                        </section>
                    </section>
                </a>
            </section>
        </section>
        <section class="preventivi-main-container-contact preventivi-main-container-box">
            <h2>Preventivo telefonico gratuito</h2>
            <p>
                Contatta lo staff di <span class="brand-font">Traslochi Brandimarte</span> per un preventivo
                telefonico o su WhatsApp gratuito e senza impegno.
                <br>
                Seleziona una delle tue seguenti opzioni:
            </p>
            <ul>
                <li><a href="tel:+393381106682" alt="Phone icon"><i class="fas fa-phone"></i> <span class="highlight-font"> +39.338.11.06.682</span></a></li>
                <li><a href="https://wa.me/+393381106682" target="_blank" alt="Whatsapp icon"><i class="fab fa-whatsapp"></i> <span class="highlight-font"> +39.338.11.06.682</span></a></li>
            </ul>
        </section>
        <section class="preventivi-main-container-email preventivi-main-container-box">
            <h2>Preventivo via email gratuito</h2>
            <p>
                Contattaci via email per ricevere un preventivo
                via posta elettronica gratuito e senza impegno.
                <br>
                Seleziona la seguente opzione
            </p>
            <ul>
                <li><a href="mailto:info@brandimarte.com" target="_blank" alt="Email icon"><i class="fas fa-envelope"></i> <span class="highlight-font"> info@brandimarte.com</span></a></li>
            </ul>
        </section>
        <section class="preventivi-main-container-questions preventivi-main-container-box">
            <h2>Domandare è lecito</h2>
            <p>
                Domandare è lecito, rispondere è cortesia ed in questo caso è
                anche il nostro lavoro.
                <br>
                Se qualcosa non ti è chiaro in merito ai nostri servizi, o se 
                hai una richiesta particolare, 
                <br>
                sentiti libero di contattarci 
                tramite uno dei nostri canali<br>
            </p>
            <p class="signature-font">Andrea Brandimarte</p>
        </section>
    </section>
</main>
{% endblock %}