.home-main {
    display: grid;
    padding: 2rem;
    font-family: 'Noto Serif TC', serif;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "home-main-title home-main-title home-main-title"
    "home-main-video home-main-video home-main-video";

    .home-main-container {
        grid-area: home-main-title;
        background-color: $grey_background;

        .home-main-container-title {
            width: 80%;
            margin: auto;

            h2 {
                text-align: center;
                font-size: 4rem;
                text-transform: uppercase;
                font-weight: 700;
                color: $blue_font;
                letter-spacing: 2px;
            }

        }

        .home-main-container-content {
            width: 60%;
            margin: auto;
            color: $blue_font;

            @include signature;
            @include brand;
            @include highlight;
            @include btn-animated-flow;

            padding: 2rem;
            line-height: 1.6;
            font-size: 1.5rem;

            ul {

                li {
                    list-style: none;
                }

            }

            .home-main-container-content-underline {
                text-decoration-line: underline;
                text-decoration-style: double;
            }

            .home-main-container-content-signature {
                font-size: 5rem;
            }

        }


    }

    .home-main-video {
        grid-area: home-main-video;
        width: 100%;
        margin: 2rem auto;

        .home-main-video-title {
            width: 80%;
            text-align: center;
            margin: 2rem auto;

            h2 {
                text-align: center;
                font-size: 4rem;
                text-transform: uppercase;
                font-weight: 700;
                color: $blue_font;
                letter-spacing: 2px;
            }

        }

        .home-main-video-container {
            position: relative;
            width: 60%;
            margin: 2rem auto;
            cursor: pointer;

            video {
                width: 100%;
            }

            button {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);

                background: transparent;
                border: none;

                .fa-play-circle {
                    font-size: 10rem;
                    color: #fff;

                    &:hover {
                        color: lighten(#008000, 10%);
                        cursor: pointer;
                    }

                }

            }

        }

    }

}

/*
* Media Queries
* max-width: 1024px
*/
@media (max-width: 1024px) {

    .home-main {

        .home-main-container {

            .home-main-container-title {

                h2 {
                    font-size: 3rem;
                }

            }

        }

    }

}

/*
* Media Queries
* max-width: 767px
*/
@media (max-width: 767px) {

    .home-main {
        padding: 1rem;

        .home-main-container {

            .home-main-container-title {
                width: 100%;

                h2 {
                    font-size: 2rem;
                }

            }

            .home-main-container-content {
                width: 80%;

                .home-main-container-content-signature {
                    font-size: 4rem;
                }

            }

        }

        .home-main-video {

            .home-main-video-title {

                h2 {
                    font-size: 3rem;
                }

            }

            .home-main-video-container {
                width: 80%;

                button {

                    .fa-play-circle {
                        font-size: 6rem;
                    }

                }

            }

        }

    }

}

/*
* Media Queries
* max-width: 480px
*/
@media (max-width: 480px) {

    .home-main {
        padding: .5rem;

        .home-main-container {

            .home-main-container-title {

                h2 {
                    font-size: 1.5rem;
                }

            }

            .home-main-container-content {
                width: 90%;
                padding: 0rem;
                font-size: 1.2rem;

                .home-main-container-content-signature {
                    font-size: 3rem;
                }

            }

        }

        .home-main-video {

            .home-main-video-title {

                h2 {
                    font-size: 2rem;
                }

            }

        }

    }

}