.preventivo-conferma-main {
    height: auto;
    min-height: 30vh;
    position: relative;

    color: $blue_font;

    /* 
    * Include @mixin brad to highlight the brand where 
    * there is the class .brand-font
    */
    @include brand;

    .preventivo-conferma-main-container {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
        padding: 2rem;

        background-image: linear-gradient(
            to right bottom,
            rgba(247, 247, 247, 0.8),
            rgba(210, 241, 217, 0.8)
        );

        h4 {
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;
            line-height: 1.6;
        }
        
    }   

}

/*
* Media Queries
* max-width: 480px
*/
@media (max-width: 480px) {

    .preventivo-conferma-main {
        min-height: 90vh;

        .preventivo-conferma-main-container {
            padding: .5rem;

            h4 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.2rem;
            }

        }

    }

}